{% extends 'app_base.html' %}
{% load static %}
{% block content %}
<style>
    .border-dashed{
        border: 1px dashed #E1E3EA !important;
    }
    .badge{
        border-radius: 5px;
    }
</style>
<style>
    .form-control {
      display: block;
      width: 100%;
      padding: 0.775rem 1rem;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.5;
      color: var(--bs-gray-700);
      background-color: var(--bs-body-bg);
      background-clip: padding-box;
      border: 1px solid #E1E3EA;
      appearance: none;
      border-radius: 0.475rem;
      box-shadow: false;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      min-height: 45px;
  }
    .form-control.form-control-solid {
      background-color: #F9F9F9;
      border-color: #F9F9F9;
      color: var(--bs-gray-700);
      transition: color 0.2s ease;
  }
  </style>
<div class="content">
    
    <div class="row justify-content-center">
      
      <div class="card col-lg-8 col-md-12 col-sm-12 col-12" style="width: 100%; border:1px solid #E1E3EA">
            <div style=" max-height: 100%; padding-top: 15px;">
                <div class="row" class="tabs">
                    <a href="{% url 'user_profile' %}" class="badge badge-pill badge-info {% if page == "profile" %}tabs_active{% endif %}">Profile</a>
                    <a href="{% url 'change_password' %}" class="badge badge-pill badge-info {% if page == "change_password" %}tabs_active{% endif %}">Change Password</a>
                    <a href="{% url 'billing' %}" class="badge badge-pill badge-info {% if page == "billing" %}tabs_active{% endif %}">Billing</a>
                    <!--button class="badge badge-pill badge-info {% if page == "usage" %}tabs_active{% endif %}">Usage</!--button-->
                </div>
            
                
                        <form action="{% url 'change_password' %}" method="POST">
                          {% csrf_token %}
                        <div class="card-header">
                            <h5 class="title">Reset Password</h5>
                            </div>
                            <div class="card-body">
                              <br>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex"><label>Currect Password</label></div>
                                    <div class="col-md-8 pr-md-1">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-solid mb-3 mb-lg-0" name="current_password" placeholder="Current Password" required>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex"><label>New Password</label></div>
                                    <div class="col-md-8 pr-md-1">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-solid mb-3 mb-lg-0" name="new_password" placeholder="Create New Password" required>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex"><label>Confirm Password</label></div>
                                    <div class="col-md-8 pr-md-1">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-solid mb-3 mb-lg-0" name="confirm_password" placeholder="Confirm New Password" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-fill btn-languster">Save</button>
                            </div>
                          </form>
      </div>
{% endblock %}