{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="Hero" class="section blog-hero wf-section gradient__bg" style="padding-top:200px;">
        <div class="container hero">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12">
                    <div class="blog-hero-heading-wrapper">
                        <h4>Meet DeClutter,</h4>
                        <h1>The Future of Writing</h1>
                        <h1 id="typed-text" class="gradient fixed-height">Sales</h1>
                        <div class="_720px-max _40px-tb-margin">Create branded content for blog, social media, website, and more! at lightning speed with Declutter, the AI platform for everyone</div><a
                            href="/register" class="btn btn-white">Get started →</a>
                    </div>
                </div>
                <div class="col-lg-6 col-8 text-center">
                    <div class="gpt3__header-image"><img src="{% static 'images/bot2.png' %}" width="" style="max-height: 500px;"></div>
                </div>
            </div>
            
            <div data-w-id="da706fff-e3ed-3643-4798-6394890ce7e0" class="hero-product-demo">
                <div class="product-container desktop"
                    style="">
                    <div class="content video-wrapper">
                        <div class="video-wrapper">
                            <div class="html-embed-6 w-embed w-iframe w-script">
                                
                                <div class="loom-video-wrapper" style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/c1431d00dd2843fbb72791c20032586a" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

                                <script>
                                    function load_loom_video() {
                                        $('.loom-video-wrapper').append('<iframe src="https://www.loom.com/embed/c1431d00dd2843fbb72791c20032586a" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>');
                                        $(".loom-video-preload").fadeOut("slow", function () {
                                            $(this).remove();
                                        });
                                    }

                                    window.addEventListener('DOMContentLoaded', () => {
                                        $(window).one('scroll', load_loom_video);
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-lg-4 col-8 text-center">
                <div class="gpt3__header-image"><img src="{% static 'images/bot2.png' %}" width="100%" style="max-height: 400px;"></div>
            </div>
            <div class="col-lg-7 text-center">
                <div data-w-id="811c45b5-82a3-1bff-6df8-2a7a3590c191" class="heading-container centered" style="opacity: 1; margin-top: 50px;">
                    <h5 class="color-teal">Who is DeClutter?</h5>
                    <h2>Artificial intelligence trained to<span class="teal-gradient"> create branded content at lightning speed! ⚡</span></h2>
                    <div class="subheadline _720px-max">The ultimate writing partner, taught by world-renowned SEO and marketing gurus to generate high-quality content with ease</div>
                  </div>
            </div>
        </div>
    </div>
    <img src="https://assets-global.website-files.com/60e5f2de011b86acebc30db7/612d060c41a6c87f4671d4e7_Background%20Pattern.svg" loading="lazy" alt="" class="pattern-video-background">
    </div>
    <div class="w-embed"><style>

  svg.trapezoidal-horizontal {
    width: 100%;
    height: 10vw;
    position: relative;
  }
  .badge {
    padding: 8px 25px;
    margin-left: 15px;
    background-color: #cfcfcf;
    color: rgb(91, 91, 91);

}

.tabs_active {
    background: linear-gradient(45deg, #ff61d3 10%, #b318ff 36%, #b318ff 47%, 76%, #1e43ff);
    color: white;
}
</style>

<svg class="trapezoidal-horizontal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="top: 6px;">
		<line x1="0" y1="100" x2="100" y2="0" stroke="#EAEAEA"></line>
    <polygon fill="#f8f8f9" points="0,100 100,0 100,100"></polygon>
</svg></div>
<div class="section white-content" style="margin-top:5px; background-color: #f8f8f9;">
<div class="container">
    <h2 class="text-center">What can you do with declutter.ai?</h2>
    <br>
    <div class="row justify-content-center" id="filterOptions" class="tabs">
      <button class="badge badge-pill badge-info tabs_active" data-filter="all">All</button>
      <button class="badge badge-pill badge-info" data-filter="page-one">one</button>
      <button class="badge badge-pill badge-info" data-filter="page-two">two</button>
      <button class="badge badge-pill badge-info" data-filter="page-three">three</button>
      <button class="badge badge-pill badge-info" data-filter="page-four">four</button>
    </div>
    <br>
    <div class="row features" id="features">
        <div class="col-lg-4 d-flex page-one">
            <div class="card">
                <div class="card-header">
                  <img src="{% static 'images/icons/simplify-icon2.png' %}" width="50px">
                  <h3 class="card-title" style="margin-top: 10px"><b>Text Simplification</b></h3>
                </div>
                <div class="card-body">
                  <p>We consulted with the world’s best SEO and Direct Response Marketing experts
                    to teach Jasper how to write blog articles, social media posts, website copy, and more...</p>
                </div>
              </div>
        </div>

        <div class="col-lg-4 d-flex page-one">
            <div class="card">
                <div class="card-header">
                  <img src="{% static 'images/icons/upload.png' %}" width="50px">
                  <h3 class="card-title" style="margin-top: 10px"><b>Content Improver</b></h3>
                </div>
                <div class="card-body">
                  <p>We consulted with the world’s best SEO and Direct Response Marketing experts
                    to teach Jasper how to write blog articles, social media posts, website copy, and more...</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 d-flex page-two">
            <div class="card">
                <div class="card-header">
                  <img src="{% static 'images/icons/paraphrase2.png' %}" width="50px">
                  <h3 class="card-title" style="margin-top: 10px"><b>Paraphraser</b></h3>
                </div>
                <div class="card-body">
                  <p>We consulted with the world’s best SEO and Direct Response Marketing experts
                    to teach Jasper how to write blog articles, social media posts, website copy, and more...</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 d-flex page-two">
            <div class="card">
                <div class="card-header">
                  <img src="{% static 'images/icons/headline2.png' %}" width="50px">
                  <h3 class="card-title" style="margin-top: 10px"><b>Blog Headline</b></h3>
                </div>
                <div class="card-body">
                  <p>We consulted with the world’s best SEO and Direct Response Marketing experts
                    to teach Jasper how to write blog articles, social media posts, website copy, and more...</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 d-flex page-three">
            <div class="card">
                <div class="card-header">
                  <img src="{% static 'images/icons/headline2.png' %}" width="50px">
                  <h3 class="card-title" style="margin-top: 10px"><b>Text Summerizer</b></h3>
                </div>
                <div class="card-body">
                  <p>We consulted with the world’s best SEO and Direct Response Marketing experts
                    to teach Jasper how to write blog articles, social media posts, website copy, and more...</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 d-flex page-three">
            <div class="card">
                <div class="card-header">
                  <img src="{% static 'images/icons/tonechanger2.png' %}" width="50px">
                  <h3 class="card-title" style="margin-top: 10px"><b>Text Style changer</b></h3>
                </div>
                <div class="card-body">
                  <p>We consulted with the world’s best SEO and Direct Response Marketing experts
                    to teach Jasper how to write blog articles, social media posts, website copy, and more...</p>
                </div>
              </div>
        </div>
    </div>
</div>
</div>

  <div class="section" style="margin-top:6px; ">
    <div class="container">
        <div class="row">
                <div class="col-lg-6 text-left">
                    <div data-w-id="811c45b5-82a3-1bff-6df8-2a7a3590c191" class="heading-container" style="opacity: 1;">
                        <h5 class=""><b>Benifits of Declutter</b></h5>
                        <h2><b>How will <span class="gradient">Declutter</span> unlock your <span class="gradient">creative potential?</span></b></span></h2>
                      </div>
                </div>
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <div class="subheadline _720px-max">Declutter is an all-in-one tool that gives you access to high-quality, original content. It's powered by the AI and has been trained on the 10% of the internet which creates high-quality -original, and creative content within seconds over the click of a button.</div>
                </div>
                <div class="col-lg-6">
                    <!--div class="subheadline _720px-max"><p class="body-1">Fine-tuning is as simple as <a href="https://www.helloforefront.com/blog-posts/preparing-a-dataset-to-fine-tune-gpt-j" target="_blank" class="in-text-link">preparing a dataset</a> and <a href="/demo" target="_blank" class="in-text-link">uploading it to the platform</a>.</p></!--div-->
                </div>
            <div class="col-lg-4 d-flex">
                <div class="card">
                    <div class="card-header">
                        <h1><b><img src="{% static 'images/icons/convert.png' %}" loading="lazy" width="60px"></b></h1>
                      <h4 class="card-title" style="margin-top: 10px"><b>Write copy & content that converts</b></h4>
                    </div>
                    <div class="card-body">
                      <p>Your AI sidekick is trained to produce high-converting marketing copy</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="card">
                    <div class="card-header">
                      <h1><b><img src="{% static 'images/icons/10.png' %}" loading="lazy" width="60px"></b></h1>
                      <h4 class="card-title" style="margin-top: 10px"><b>10X your content output</b></h4>
                    </div>
                    <div class="card-body">
                      <p>Whether you're a creator or director of a content team, Jasper helps you scale up.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="card">
                    <div class="card-header">
                      <h1><b><img src="{% static 'images/icons/seo.png' %}" loading="lazy" width="60px"></b></h1>
                      <h4 class="card-title" style="margin-top: 10px"><b>Create original content that ranks for seo.</b></h4>
                    </div>
                    <div class="card-body">
                      <p>Using Jasper you can rank in Google like you would with human written texts.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 d-flex">
              <div class="card">
                  <div class="card-header">
                    <h1><b><img src="{% static 'images/icons/repurpose.png' %}" loading="lazy" width="60px"></b></h1>
                    <h4 class="card-title" style="margin-top: 10px"><b>Repurpose old content</b></h4>
                  </div>
                  <div class="card-body">
                    <p>Jasper repurpose all your old content in the blink of an eye and win the content race.</p>
                  </div>
                </div>
          </div>
          <div class="col-lg-4 d-flex">
            <div class="card">
                <div class="card-header">
                  <h4><b><img src="{% static 'images/icons/better.png' %}" loading="lazy" width="60px"></b></h4>
                  <h4 class="card-title" style="margin-top: 10px"><b>Write better, everywhere.</b></h4>
                </div>
                <div class="card-body">
                  <p>Whether you’re writing emails, captions, or love letters, Jasper will help craft the perfect message.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 d-flex">
          <div class="card">
              <div class="card-header">
                <h1><b><img src="{% static 'images/icons/fun.png' %}" loading="lazy" width="60px"></b></h1>
                <h4 class="card-title" style="margin-top: 10px"><b>Have fun! Jasper is a joy.</b></h4>
              </div>
              <div class="card-body">
                <p>AI is an exciting, new technology that can unlock your imagination to create some amazing things.</p>
              </div>
            </div>
      </div>
          
        </div>
    </div>
    </div>

    {% endblock %}




